body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-style: inherit;
}

button :disabled {
  cursor: default;
}

button:focus {
  outline: none !important;
}
